body{
  background-color: #333;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;

}

.box1{
  height: 30%;
  background: #82E0AA;
  border-radius: 0.5rem;
  border: 1px solid hsla(0, 0%, 100%, 0.25);
  text-align: center;
}

.box2{
  height: 70%;
}

#console{
  max-height: 500px;
  border: 1px solid;
  border-color: #CCCCCC;
  background: #3334;
  overflow-y: scroll;

  text-align: left;
  color: red;
  font-size: 14px;
}
